<h1>Add a definition</h1>

<form action="/definitions" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <label for='meaning'>Definition:</label>
  <input id='meaning' name='meaning' type='text'>
  <br>
  <button type="submit">Add Definition</button>
</form>
