body {
  background-color: #244F26;
  color: yellow;
  font-family: 'Gloria Hallelujah', cursive;
}

h1, h3 {
  text-align: center;
}

ul {
  font-size: 30px;
}

a {
  color: red;
  text-shadow: 50%;
  padding-right: 30px;
}
